a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
}

a:link {
  color: #00F;
}

a:visited {
  color: #00F;
}

body {
  background: #999;
  padding: 0;
  min-height: 100%;
  width: 920px;
  margin: 0 auto 30px auto;
  display: flex;
  flex-direction: column;
}

footer {
  background: #888;
  padding: 10px;
}

header {
  background: #888;
  padding: 10px;
}

html {
  font-family: "Lucida Console", "Courier New", monospace;
  background: #000;
  height: 100%;
}

main {
  padding: 50px;
  flex-grow: 1;
}

nav {
  background: #888;
  position: fixed;
  bottom: 0;
  width: inherit;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  z-index: 100;
  box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.22);
}